<header class="page-header">
    <h1>F(x) Challenge</h1>

<!--    <menu class="c-primary-menu">
        <menuitem class="c-primary-menu__item">Imóveis</menuitem>
        <menuitem class="c-primary-menu__item">Sobre</menuitem>
    </menu>-->
</header>



<article class=page-content>
    <router-outlet></router-outlet>
</article>

<footer class="page-footer">
    Autor: Miguel Fontes
    <ul class="g-list-unstyled c-footer-contact-list">
        <li class="c-footer-contact-list__item">
            <i class="fa fa-skype" aria-hidden="true"></i>
            Skype: miguel_fontes </li>
        <li class="c-footer-contact-list__item">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email: miguel_m_fontes@hotmail.com
        </li>
        <li class="c-footer-contact-list__item">
            <i class="fa fa-github" aria-hidden="true"></i>
            GitHub: miguel_fontes
        </li>
    </ul>
</footer>