// Default Colors

$base-background-color: ghostwhite;
$base-brand-color: #3399ff;
$base-secondary-brand-color: lightgrey ;

$base-text-color: black;
$base-title-text-color: black;

$header-text-color: white;


$menu-primary-color: floralwhite;
$menu-hover-color: ghostwhite;